@import 'mixin.scss';
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);



//color

$white:white;
$black:black;
$lightgray:#a9a9a9;
$darkgray: #8D8D8D;
$lightgrey:#f7f7f7;
$purple:#BD2DC0;
//font
//size
$h1:45px;
$h2:35px;
$h3:20px;
$h5:20px;


$p:18px;


//weight

$fwbold:500;
$fwboldest:800;

//family

$ffpoppins:'Poppins',
sans-serif;

//media

$xl:1200px;
$lg:767px;
$md:567px;
$sm:360px;


h1,
h2,
h3,
h4,
h5 {
   color: black;
   font-weight: $fwboldest;
   margin: 0;
   padding: 0;
}


h1 {
   font-size: $h1;

}

h2 {
   font-size: $h2;

}

h3 {
   font-size: $h3;

}

h5 {
   font-size: $h5;
}

p {
   color: $lightgray;
   font-size: $p;
   font-weight: $fwbold;
}


// @include tablet {
//    $h1: 30px;
//    $h2: 20px;

// }